* {
  margin: 0px;
  padding: 0px;
}


body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background-color:rgb(1,196,196);
  font-style: Verdana;
}

article {
  border: 3px solid #212121;
  margin-left: 50px;
  margin-right: 50px;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
}

article h2 {
  text-align: center;
}

header {
  background-color:rgb(1,196,196);
  height: 65px;
}

footer {
  border: 3px solid #212121;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
}

header h1 {
  font-size: 300%;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  text-shadow: 1px 1px 3px #000000;
}

nav {
 position: sticky;
 top: 0px;
}


ul {
  border-radius: 10px 10px 10px 10px;
  background:rgb(105, 105, 105);
  padding: 10px;
  margin: 0px 10px;
}

ul li {
  padding: 5px;
  display: inline-block
}

#badgesiframe{
margin-left: 20%;
}

iframe{
  margin-left: 5%;
}

img{
  margin-left: 5%;
}

ul li a {
  color: white;
  text-decoration: none;
  padding-left: 20px;
  padding-right: 20px;
}

ul li a:hover {
border-radius: 10px 10px 10px 10px;
background:rgb(1,196,196);
padding: 10px;
margin: 0px 10px;
}
