* {
  margin: 0px;
  padding: 0px;
}


body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  background: white;
}


header {
  background-color: white;
  height: 65px;
}

header h1 {
  font-size: 300%;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  text-shadow: 1px 1px 3px #000000;
}

nav {
 position: sticky;
 top: 0px;
}


ul {
  background:rgba(33, 33, 33, 0.7);
  padding: 10px;
}

ul li {
  padding: 5px;
  display: inline-block
}

ul li a {
  color: rgb(66, 127, 188 );
  text-decoration: none;
}

ul li a:hover {

}
